/*Color gradient*/
.colorBackground{
    -fx-background-color: linear-gradient( to right top, #76d2fc,#3238a8);
}

#outline{
    -fx-text-fill: #76d2fc;
    -fx-font-family: "System";
    -fx-font-weight: bold;
    -fx-background-radius: 30;
    -fx-border-color:#76d2fc;
    -fx-border-radius: 30;
    -fx-background-color:null;
    -fx-font-size: 14;
}

#outline:hover{
    -fx-background-color: linear-gradient( to right top, #76d2fc,#3238a8);
    -fx-font-family: "System";
    -fx-text-fill:white;
    -fx-font-weight:bold;
    -fx-background-radius: 30;
    -fx-font-size: 14;
}


#text-field {
    -fx-border-color: #76d2fc;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
}




