.vbox {
    -fx-background-color: linear-gradient(to bottom, #76d2fc, #3238a8);
    -fx-background-radius: 0 30 30 0;
}
.button {
    -fx-background-color: transparent;
}

.button:hover {
    -fx-background-color: #76d2fc;
}

.button:pressed {
    -fx-background-color: #3238a8;
}

.button:focused {
    -fx-background-color: #3238a8;
    -fx-border-color: #34e5eb;
    -fx-border-width: 0px 0px 0px 4px;
}

#search {
    -fx-graphic: url('../img/search.png');
}

#translate {
    -fx-graphic: url('../img/translate.png');
}

#favourite {
    -fx-graphic: url('../img/favourite.png');
}

#editWord {
    -fx-graphic: url('../img/edit.png');
}

#playGame {
    -fx-graphic: url('../img/game.png');
}

#logout {
    -fx-graphic: url('../img/logout.png');
}

#logout .image-view {
    -fx-max-width: 20px;
    -fx-max-height: 20px;
}

#profile {
    -fx-graphic: url('../img/profile.png');
}
