
.default-color0.chart-bar {
    -fx-bar-fill: #3238a8;
    -fx-background-radius: 5px 5px 0px 0px;
}

.chart-bar {
    -fx-bar-fill: transparent;
}

.chart-category-axis {
    -fx-label-font-size: 16px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
}

.chart-number-axis {
    -fx-label-font-size: 16px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-text-fill: #ffff;
}

.axis-label {
    -fx-font-size: 20px;
    -fx-text-fill: #ffff;
}

.chart-title {
    -fx-font-family: "Arial";
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffff;
}

#addPic {
    -fx-graphic: url('../img/camera.png');
    -fx-background-radius: 30;
}

#addPic:pressed{
    -fx-background-color: linear-gradient( to right top, #76d2fc,#3238a8);
    -fx-background-radius: 30;
}
