.button-from {
    -fx-background-color: white;
}

.button-from:hover {
    -fx-font-weight: bold;
    -fx-font-size: 18;
    -fx-border-color: #76d2fc;
    -fx-border-width: 0px 0px 3px 0px;
}

.button-from:selected {
    -fx-font-weight: bold;
    -fx-font-size: 18;
    -fx-border-color: #76d2fc;
    -fx-border-width: 0px 0px 3px 0px;
}

.button-to {
    -fx-background-color: white;
}

.button-to:hover {
    -fx-font-weight: bold;
    -fx-font-size: 18;
    -fx-border-color: #3238a8;
    -fx-border-width: 0px 0px 3px 0px;
}

.button-to:selected {
    -fx-font-weight: bold;
    -fx-font-size: 18;
    -fx-border-color: #3238a8;
    -fx-border-width: 0px 0px 3px 0px;
}