.text-explosion {
    -fx-font-size: 24px;
    -fx-effect: dropshadow(gaussian, red, 30, 0.5, 0, 0);
    -fx-scale-x: 2;
    -fx-scale-y: 2;
    -fx-opacity: 0;
    -fx-transition: "opacity 0.5s, scale-x 0.5s, scale-y 0.5s";
}

.form-text {
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-fill: white;
}

.color_form{
    -fx-font-weight: bold;
    -fx-text-fill: #00CCFF;
}

.buttonPlay {
    -fx-font-veight: bold;
    -fx-background-color: #2196f3;
    -fx-background-radius: 16;
    -fx-font-size: 16;
    -fx-text-fill: white;
}
.buttonPlay: hover {
-fx-font-veight: bold;
    -fx-background-color: white;
    -fx-background-radius: 16;
    -fx-font-size: 16;
    -fx-text-fill: #2196f3;
    -fx-border-color: #2196f3;
    -fx-border-radius: 20;
    -fx-border-vidth: 3;
}
.buttonPlay: pressed {
    -fx-font-veight: bold;
        -fx-background-color: white;
        -fx-background-radius: 16;
        -fx-font-size: 16;
        -fx-text-fill: #2196f3;
        -fx-border-color: #2196f3;
        -fx-border-radius: 20;
        -fx-border-vidth: 3;
        -fx-rotate: 10;
}

.color_button {
    -fx-text-fill: white;
}

.color_button: hover {
    -fx-text-fill: #FF9933;
}

.color_button: pressed {
    -fx-text-fill: white;
}